@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-image: url(../img/back-trama.jpg);
}

main{
	width: 90%;
	max-width: 1280px;
	height: 700px;
	background-image: url(../img/back-trama.jpg);
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 80px;
	background-color: #161616;

	
}

header li {
	display: inline;
}

header li a{
	text-decoration: none;
	margin-left: 15%;
	
}
 

nav{
	width: 100%;
	height: 50px;
	background-color: #161616;
}


nav li{
	display: inline;
	
}

nav li a{
	width: 15%;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	float: left;
	padding: 1%;
	margin-right: 2%;
	background-color: #618198;
	color: #122C45;
	border-radius:50px;

}

nav ul {
	margin-left: 30%;
}

ul li a:hover{
	background-color: #CECECE;

}


section{
	width: 100%;
	height: 500px;
	background-image: url(../img/back-trama.jpg);
	clear: both;
	
}

footer{
	width: 100%;
	height: 50px;
	background-color: #161616;
	
}

h1{
	width: 295px;
	height: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-align: center;
	background-color: #618198;
	color: #122C45;
	border-radius: 20px;
	margin:8px;
	margin-left: 39%;
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;

}




.txt_h1{
	padding: 9px;
	color: #122C45;
}


#izq_footer{
	width: 50%;
	height: 50px;
	float: left;
}



#txt_maria{
	width: 50%;
}

.txt_maria{
	font-family: 'Ubuntu', sans-serif;
	color: #CECECE;
	margin-top: 15px;
	margin-left: 20px;
	display: inline-block;
	text-decoration: none;

}

#der_footer{
	height: 50px;
	width: 50%;
	float: right;
	padding: 10px;
}


#redes_sociales{
	width: 100%;
	height: 50px;
}

.redes_sociales{
	margin-left: 500px;



}

.redes_sociales li{
	display: inline;
	text-decoration: none;
	display: inline-block;
	height: 34px;
	
	
	
}


section img .imagen_index{
	margin-top: 10%;
	margin-left: 25%;
}

.img_index{
	margin-top: 40px;
	margin-left: 15%;
	border-radius: 10px;
	}

	

section #izq {
	width: 50%;
	height: 450px;
	float: left;
	border-radius: 10px;
}

section #izq p{
	width: 80%;
	height: 350px;
	float: left;
	margin: 10px;
	padding:5px;
}

section #der{
	width: 50%;
	height: 450px;
	float: right;
	padding-left: 1%;
	padding-right: 1%;
	padding: 3%;


}

#der img{
	border-radius: 10px;
}

	
#contenedor_txt_argumento{
	width: 520px;
	height: 350px;
	background-color: #CECECE;
	margin-top: 40px;
	margin-left: 90px;
	padding: 10px; 
	float: right;
	border-radius: 10px;
	border: solid; 
	border-color: #122C45;

}
	



#uno{
	width: 80%;
	height: 450px;
	background-image: url(../img/back-trama.jpg);
	float: left;
	margin-left: 40px;

	
}

article #uno{
	width: 50%; 
	height: 600px;
	}

#izq_personajes{
	width: 10%;
	margin-left: 30%;
	float: left;
}

#der_personajes{
	width: 50%;
	margin-right: 10%;
	float: right;
	
	
}

article #img_personajes img{
	border-radius: 100%;
	border: solid;
	border-color: #0B1A1E;
	border-width: 5px;


}

#img_personajes{
	height: 400px;
	

}

.titulos_personajes{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold; 
	font-size: 13px;
	color: #122C45;

}

.nombres_personajes{
	font-family: 'Ubuntu', sans-serif; 
	font-size: 13px;
}

#contenedor_txt2{
	height: 90px;
	width: 600px;
	background-color: #CECECE;
	margin-left: 90px;
	padding: 10px; 
	float: right;
	border-radius: 10px;
	border: solid; 
	border-color: #122C45;

}

.titulo_argumento{
	font-family: 'Ubuntu', sans-serif;
	font-variant: bold;
	font-size: 15px;
	color: #122C45;
}

.texto_general{
	font-family: 'Ubuntu', sans-serif; 
	font-size: 13px;

}

#texto_argumento{
	width: 575px;
	height: 50px;
	margin: 5px;


}

.links_web_argumento{
	color: #122C45; 
	text-decoration: none;
}

#trivia{
	height: 360px;
	width: 400px;
	padding: 15px;
	background-color: #161616;
	border-radius: 10px;
	border:solid;
	border-color: #122C45;

}

.titulos{
	font-family: 'Ubuntu', sans-serif;
	font-variant: bold;
	font-size: 16px;
	color: #CECECE;
}

.txt_trivia{
	font-family: 'Ubuntu', sans-serif; 
	font-size: 14px;
	color: #CECECE;

}

#izq_trivia{
	width: 50%;
	height: 400px;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 10px;
	margin-top: 40px;


}

#der_trivia{
	width: 50%;
	height: 400px;
	float: right;
	margin-top: 40px;
	

}

	


.img_trivia{
	border-radius: 10px;
	padding:4px;
	margin: 4px;

	

}


p input:hover{
	background-color: #618198;
}

.boton_enviar{
	width: 60px;
	height: 27px;
}

input{
	border-radius: 10px;
}

textarea{
	border-radius: 10px;
}